<style>
    
   .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    white-space: nowrap;
}
    .search-btn:hover {
        background-color: #fe424d;
        color: #fff;
    }

    

    .search-inp {
        border-radius: 25px;
        padding: 0.5rem 3rem 0.5rem 3rem;
        font-size: 1rem;
    }

    .search-form{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    @media (max-width: 983px){

        .search-form{
            position: static;
            transform: none;
            width: 70%;
            margin: auto;
        }

        .search-inp{
            text-align:center;
            font-size: 0.9rem;
            padding: 0.5rem 1rem;
        }

        .navbar-collapse{
            background-color: white;
            padding: 1rem;
            border-radius: 1rem;
            margin-top: 1rem;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        }
         .navbar-nav {
          text-align: center;
         }

        .nav-links{
                text-align: center;
                margin-top: 1rem;
        }
        .nav-links .nav-link{
            margin-bottom: 0.7rem;
        }
    }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">

    <div class="container-fluid">

        <!-- LOGO -->

        <a class="navbar-brand" href="/listings">
            <i class="fa-regular fa-compass"></i>
        </a>

        <!-- SEARCH BAR -->

        <form 
            class="d-flex search-form"
            role="search"
            method="GET"
            action="/listings">

            <input 
                class="form-control me-2 search-inp"
                type="search"
                name="search"
                placeholder="Search destinations"
            >

            <button class="btn search-btn" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
                Search
            </button>

        </form>

        <!-- HAMBURGER -->

        <button 
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup">

            <span class="navbar-toggler-icon"></span>

        </button>

        <!-- COLLAPSE MENU -->

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Explore</a>
            </div>

            <div class="navbar-nav ms-auto nav-links">

                <a class="nav-link" href="/listings/new">
                    Airbnb your home
                </a>

                <% if(!currUser) { %>

                    <a class="nav-link" href="/signup">
                        <b>Sign Up</b>
                    </a>

                    <a class="nav-link" href="/login">
                        <b>Login</b>
                    </a>

                <% } %>

                <% if(currUser) { %>

                    <a class="nav-link" href="/logout">
                        <b>Log out</b>
                    </a>

                <% } %>

            </div>

        </div>

    </div>

</nav>