<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>

        body{
            height:100vh;
            margin:0;

            background-image:url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");

            background-size:cover;
            background-position:center;

            display:flex;
            justify-content:center;
            align-items:center;
        }

        .overlay{
            background-color:rgba(0,0,0,0.5);
            padding:3rem;
            border-radius:1rem;
            text-align:center;
            color:white;
        }

        .btn{
            background-color:#fe424d;
            color:white;
            border:none;
            padding:0.8rem 2rem;
            border-radius:2rem;
            text-decoration:none;
        }

    </style>

</head>

<body>

    <div class="overlay">

        <h1>Welcome to WanderLust</h1>

        <p>Explore amazing destinations around the world.</p>

        <a href="/listings" class="btn">
            Explore Now
        </a>

    </div>

</body>
</html>